![python](https://developers.redhat.com/sites/default/files/styles/share/public/Python-01%20%282%29.png?itok=bApqv4pD)

# Python Basics: Getting Started

Most Windows and Mac computers come with Python pre-installed. You can check 
that via a Command Line search. The particular appeal of Python is that you can 
write a program in any text editor, save it in .py format and then run via a Command 
Line. But as you learn to write more complex code or venture into data science, you 
might want to switch to an IDE or IDLE.

**What is IDLE (Integrated Development and Learning)**

IDLE (Integrated Development and Learning Environment) comes with every 
Python installation.
Its advantage over other text editors is that it highlights 
important keywords (e.g. string functions), making it easier for you to interpret code.

Shell is the default mode of operation for Python IDLE. In essence, it’s a simple loop 
that performs that following four steps:

- Reads the Python statement
- Evaluates the results of it 
- Prints the result on the screen
- And then loops back to read the next statement. 

Python shell is a great place to test various small code snippets

**1. Main Python Data Types**

|DataTypes | Examples|
|:- | :- |
|Integers | 0, 2, -1, 5|
|Strings | “a”, “hello”, “1234”, “12 Hello.” |
|Boolean | True, False |
|Floating | Point Numbers 16.0, -11.0, 2021.5 |

 **2. Python Arithmetic Operators**

The Arithmetic Operators in the below table are in Lowest to Highest precedence.

|Operators | Operation | Explanation | Examples|
| :- | :- | :- | :- |
| + | Addition | Returns sum of 2 numbers | 1 + 3 = 4 |
| - | Subtraction | Returns the difference of2 numbers | 1 - 3 = -2 |
| * | Multiplication | Returns theproduct of 2numbers | 1 * 3 = 3 |
| / | Division | Returns thevalue of adivided by bas a decimalvalue | 1 / 3 = 0.33 |
| // | Floored Division | Returns the floor of adivided by b | 1 // 3 = 0 |
|% | Remainder | Returns the remainder when a isdivided by b | 1 % 3 = 1 |

Some examples are shown below:

```python
#Example for Addition
>>> 1 + 3
4
#Example for Subtraction
>>> 1 - 3
-2
#Example for Multiplication
>>> 6 * 6
36
#Example for Floored Division
>>> 4 // 2
2
#Example for Division
>>> 3 / 2
1.5000
#Example for Modulo
>>> 3 % 2
1
```

**3. Python Variables**

Variables are names given to data items that may take on one or more values during
a program’s runtime.
Following are the variable naming conventions in python:

- It cannot begin with a number.
- It must be a single word.
- It must consist of letters and _ symbols only.
- Variables in Python which start with _ (underscore) are considered as “Unuseful”.

**Some examples are shown below:**

```python
>>> variable_name = "Hello"
>>> variable_name 
'Hello'
>>> variableName = 123
>>> variableName 
123
```

**4. Python Comments**

Comments are lines of text/code in the program, which are ignored by the compiler
during program execution.
    
There are multiple types of comments in python:

- Inline Comment

We can write an Inline Comment by typing # followed by the comment.

```python
# Inline Comment to calculate sum of 2 numbers
def fun(a, b): 
 return a + b 
```

- Multiline Comment

We can write a Multiline Comment by typing # followed by the comment in each of
the lines.

```python
# Multiline
# Comment
# Function to calculate
# sum of 2 numbers
def fun(a, b): 
 return a + b
```

- Docstring Comment

Docstring comments are achieved by Typing the comment within triple quotes. ( '''
comment ''' )

```python
''' 
This is a function 
to find sum 
of 2 numbers. 
This is an example of 
docstring comment. 
'''
def fun(a, b): 
 return a + b
```

## 5. Standard Python Functions

- print() function in Python

The print() function prints some specified message to the screen or some standard
output device. We can print strings, numbers, or any other object using this function.
We can print multiple tokens, and also specify to print the data separated by different
delimiters using the print() function.

```python
>>> print("Hello World") 
Hello World 
>>> var = "Interviewbit"
>>> print("My name is ", var) 
('My name is ', 'Interviewbit') 
>>> print("My name is " + var) 
My name is Interviewbit 
>>> print(123) 
123
>>> a = [1, 2, 3, 4] 
>>> print(a) 
[1, 2, 3, 4]
```

- input() function in Python

The input() function in Python is used to take any form of inputs from the
user/standard input device, which can later be processed accordingly in the program.
It is complementary to the print() function.

- len() function in Python

```python
# For List
a = [1, 2, 3] 
print(len(a)) 
# For string
a = "hello"
print(len(a)) 
# For tuple
a = ('1', '2', '3') 
print(len(a))
```

- ord() function in Python

The ord() function in Python will return an integer that represents the Unicode
Character passed into it. It takes a single character as a parameter

**Example:**

```python
# Print unicode of 'A'
print(ord('A')) 
# Print unicode of '5'
print(ord('5')) 
# Print unicode of '$'
print(ord('$')) 
Output: 
65
53
36
```

**6. Program Flow Control in Python**

Relational Operators in Python

The Table gives a list of relational operators available in Python along with their
functions:

| Operator | What it does |
| :- | :- |    
| == | Is equal to |
| >= | Is Greater than or Equal to |
| <= | Is Less than or Equal to |
| > | Is Greater than| 
| < | Is Less than| 
| !=|  Not Equal to|

Some examples are given below:

```python
# Equality Operator
>>> 10 == 10
True # 10 is equal to 10, so true
>>> 10 == "10"
False # The first string is of type int, 2nd of type string, so false.
# Greater than
>>> 10 > 20
False # 10 is lesser than 20, so above expression is false.
# Inequality
>>> 10 != 20
True # 10 is not equal to 20, so the expression is true
# Greater than or equal to
>>> (2 + 3) >= (4 + 1) 
True # (2 + 3) = 5 and (4 + 1) = 5, so the expression is true.
```

>Note: Never use relational operators to compare boolean operations. Use is or is
not operators for it.

```python
>>> True is False
False
>>> True is not False
True
```

**7. Boolean Operators in Python**

The Table gives a list of boolean operators available in Python along with their
functions:

| Operator | What it does | 
| :- | :- | 
| and | Returns True if both operands are True, else False | 
| or | Returns True if both operands are True, else False | 
| not|  Returns value opposite to the Truth value of the expression |

**Examples:**

```python
# and operator
print(True and False) 
False
# or operator
print(True or False) 
True
# not operator
print(not False) 
True
```

**9. Conditional Statements in Python**

**- If Statements:** If statement is a condition statement that will perform some
operation, if the expression given in it evaluates to true:

```python
>>> var = "Good"
>>> if var == "Good": 
... print("Same") 
... 
Same
```

**- Elif Statements:**  This statement is used in conjunction with the if statement to
add some other condition which is evaluated if the condition in if statement
fails.

```python
>>> var = "Good"
>>> if var == "Good": 
... print("Same") 
... elif var != "Good": 
... print("Not Same") 
... 
Same
```

**- Else Statements:**  This statement is used to perform some operation, if all the if
and elif statements evaluates to be false.

```python
>>> var = "Good"
>>> if var != "Good": 
... print("Not Same") 
... else: 
... print("Same") 
... 
Same
```

**- 10. Loop Statements in Python**

Loops in Python are statements that allow us to perform a certain operation multiple
times unless some condition is met.

**For Loops:** For loop is used to iterate iterables like string, tuple, list, etc and perform
some operation as shown in the flowchart below:

**For with range:**

This loop format will iterate overall numbers from 0 to Limit - 1.

The below example prints numbers from 0 to 4.

```python
for i in range(5): 
print(i) 
Output: 
0
1
2
3
4
```

**For with range(start, stop, step):**
    
This will run the loop from start to stop - 1, with step size = step in each iteration.
    
In the below example, the start is 2, end point is 10 and the step size is 2. Hence it
prints 2,4,6,8

```python
for i in range(2, 10, 2): 
print(i) 
Output: 
2
4
6
8
```

**For with in:**
This is used to iterate over all the elements in a python container like list,
tuple, dictionary, etc.

```python
a = [1, 3, 5, 7] 
for ele in a: 
print(ele) 
Output: 
1
3
5
7
```

**While Loops:**
This is used for executing set of statements within its block as long as the
associated loop condition is evaluated to True.

```python
>>> count = 5
>>> while count > 0: 
... print(count) 
... count -= 1
... 
5
4
3
2
1
```

### 11. Jump Statements in Python

**break:** break statements are used to break out of the current loop, and allow
execution of the next statement a

```python
>>> for i in range(5): 
... print(i) 
... if i == 3: 
... break
... 
0
1
2
3
```

**continue:** continue statement allows us to send the control back to the starting
of the loop, skipping all the lines of code below it in the loop. This is explained in
the flowchart below:

```python
>>> for i in range(5): 
... if i == 3: 
... continue
... print(i) 
... 
0
1
2
4
```

**pass:** The pass statement is basically a null statement, which is generally used as
a placeholder. It is used to prevent any code from executing in its scope.

```python
for i in range(5): 
 if i % 2 == 0: 
 pass
 else: 
 print(i) 
Output: 
1
3
```

**return:** return statement allows us to send the control of the program outside
the function we are currently in. A function can have multiple return statements,
but can encounter only one of them during the course of its execution.

```python
def func(x): 
 if x == 'Hello': 
 return True
 else: 
 return False
```

**12. Functions in Python**

Functions are used to well-organized our code and enhance code readability and
reusability. In Python, a function is defined using the def keyword.
A function can
return some value, or not depending upon its use case. If it has to return a value, the
return statement (which has been discussed) is used.

**Example of a function:**

```python
# Function to return sum of two numbers
def getSum(a, b): 
 return a + b 
 
# Function to print sum of 2 numbers 
def printSum(a, b): 
 print(a + b) 
 
print(getSum(5, 6)) 
printSum(5, 6)
```

**13. Python Variable Scope Resolution**

Scope of a variable is the part of the code, where it can be accessed freely and used
by the program

The scopes in the above image are explained as follows:

**Built-in:** These are reserved names for Python built-in modules.

**Global:** These variables are defined at the highest level.

**Enclosed:** These variables are defined inside some enclosing functions.

**Local:** These variables are defined inside the functions or class and are local to them.

The rules used in Python to resolve scope for local and global variables are as follows:

- Code in the global scope cannot use any local variables.
- Code in a function’s local scope cannot use variables in any other local scope.
- However, a local scope can access global variables.
- We can use the same name for different variables if they are in different scopes.

**14. Global Statement**

To modify a global variable from inside a function, we use the global statement:

```python
def func(): 
 global value 
 value = "Local"
 
value = "Global"
func() 
print(value) 
Output: 
Local
```

We set the value of “value” as Global. To change its value from inside the function, we
use the global keyword along with “value” to change its value to local, and then print
it.

**15. Lists in Python**

Lists are used to store multiple items in a single variable. Their usage and some
functions are shown below with examples:

```python
example = ["Sunday", "Monday", "Tuesday", "Wednesday"]; 
print(example) 
Output: 
['Sunday', 'Monday', 'Tuesday', 'Wednesday']
```

**Accessing elements in a List:**
    
Accessing elements in a list basically means getting the value of an element at
some arbitrary index in the list.

Indexes are assigned on 0 based basis in python. We can also access elements in
python with negative indexes. Negative indexes represent elements, counted
from the back (end) of the list.

```python
example = ["Sunday", "Monday", "Tuesday", "Wednesday"]; 
# Positive Indexing
print(example[0], example[1]) 
# Negative Indexing
print(example[-1]) 
Output: 
Sunday Monday 
Wednesday
```

**Slicing a List:**

Slicing is the process of accessing a part or subset of a given list.

```python
example = ["Sunday", "Monday", "Tuesday", "Wednesday"]; 
# Positive Slicing
print(example[0:2]) 
# Negative Slicing
print(example[-3:-1]) 
Output: 
['Sunday', 'Monday'] 
['Monday', 'Tuesday']
```

**Changing Values in a List:**

We can change values at some particular index in a list by accessing the element
with [] and then setting it to some other value.

```python
example = ["Sunday", "Monday", "Tuesday", "Wednesday"]; 
print(example) 
example[0] = "Saturday"
print(example) 
Output: 
['Sunday', 'Monday', 'Tuesday', 'Wednesday'] 
['Saturday', 'Monday', 'Tuesday', 'Wednesday']
```

**List Concatenation and Replication:**

When we merge the contents of 2 lists into one list, it is called list concatenation.

```python
example = ["Sunday", "Monday", "Tuesday", "Wednesday"]; 
example1 = ["Weekdays", "Weekends"] 
# Concatenation
example = example + example1 
print(example) 
Output: 
['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Weekdays', 'Weekends']
```

Copying the contents of a list, some finite number of times into the same or some list
is called list replication.

```python
example = ["Sunday", "Monday", "Tuesday", "Wednesday"]; 
example1 = ["Weekdays", "Weekends"] 
# Replication
example1 = example1 * 3
print(example1) 
Output: 
['Weekdays', 'Weekends', 'Weekdays', 'Weekends', 'Weekdays', 'Weekends']
```

- Delete values from Lists:

We can delete a particular element from a list by using the del keyword.

```python
example = ["Sunday", "Monday", "Tuesday", "Wednesday"]; 
print(example) 
del example[2] 
print(example) 
Output: 
['Sunday', 'Monday', 'Tuesday', 'Wednesday'] 
['Sunday', 'Monday', 'Wednesday']
```

**Looping through Lists:**

The below example shows how we can iterate over all the elements present in a
list.

```python
example = ["Sunday", "Monday", "Tuesday", "Wednesday"]; 
for ex in example: 
 print(ex) 
 
Output: 
Sunday 
Monday 
Tuesday 
Wednesday
```

**Adding Values in Lists:**

**insert():** This function inserts an element into a particular index of a list.

```python
example = ["Sunday", "Monday", "Tuesday", "Wednesday"]; 
print(example) 
example.insert(1, 'Days') 
print(example) 
Output: 
['Sunday', 'Monday', 'Tuesday', 'Wednesday'] 
['Sunday', 'Days', 'Monday', 'Tuesday', 'Wednesday']
```

**append():** This function appends an element at the back of a list.

```python
example = ["Sunday", "Monday", "Tuesday", "Wednesday"]; 
print(example) 
example.append('Days') 
print(example) 
Output: 
['Sunday', 'Monday', 'Tuesday', 'Wednesday'] 
['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Days']
```

**Sorting a List:**

Sorting a list means arranging the elements of the list in some particular order.
We sort a list by using the **sort()** function.

```python
# Sorts in lexicographical order
example = ["Sunday", "Monday", "Tuesday", "Wednesday"]; 
print(example) 
# Sort in ascending order
example.sort() 
print(example) 
# Sort in descending order
example.sort(reverse = True) 
print(example) 
example = [1, 5, 3, 7, 2] 
# Sort in ascending order
example.sort() 
print(example) 
# Sort in descending order
example.sort(reverse = True) 
print(example) 
Output: 
['Sunday', 'Monday', 'Tuesday', 'Wednesday'] 
['Monday', 'Sunday', 'Tuesday', 'Wednesday'] 
['Wednesday', 'Tuesday', 'Sunday', 'Monday'] 
[1, 2, 3, 5, 7] 
[7, 5, 3, 2, 1]
```

**16. Tuples in Python**

Tuples are entities in Python that work almost similar to that of lists, but differ in the
main feature from lists, is in that they are inmutable.

They are initialized by writing the elements of the tuple with (), separated by
commas.

```python
# Defining and Initializing a tuple called example
example = ("First", "Second", "Third", "Fourth") 
print(example) 
print(example[1:3]) 
Output: 
('First', 'Second', 'Third', 'Fourth') 
('Second', 'Third')
```

Type Converting between Tuples, Lists, and Strings:

```python
# Convert list to a tuple
tuple(['first', 'second', 'third']) 
# Convert tuple to a list
list(('first', 'second', 'third')) 
# Convert string to a list
list("Scaler")
```

**17. Python Dictionaries**

Dictionaries in Python are equivalent to Maps in C++/JAVA. They are used to store
data in key-value pairs.

**Printing key and values in dictionaries:**

To print the keys of the dictionary, use the .keys() method and to print the values, use
.values() method.

```python
dict = {'first' : 'sunday', 'second' : 'monday', 'third' : 'tuesday'} 
# dict.keys() method will print only the keys of the dictionary
for key in dict.keys(): 
 print(key) 
# dict.values() method will print only the values of the corressponding keys of the dic
for value in dict.values(): 
 print(value) 
 
Output: 
first 
second 
third 
sunday 
monday 
tuesday
```

**Update key value in dictionary:**

Update key value which is not present in dictionary:

We can update a key value in a dictionary by accessing the key withing [] and
setting it to a value.

```python
dict = {'first' : 'sunday', 'second' : 'monday', 'third' : 'tuesday'} 
for item in dict.items(): 
 print(item) 
dict['fourth'] = 'wednesday'
for item in dict.items(): 
 print(item) 
Output: 
 ('first', 'sunday') 
 ('second', 'monday') 
 ('third', 'tuesday') 
 ('first', 'sunday') 
 ('second', 'monday') 
 ('third', 'tuesday') 
 ('fourth', 'wednesday')
```

**Update key value which is present in the dictionary:**
    
We can update a key value in a dictionary, when the key is present in the exact
same way as we update a key, when the key is not present in the dictionary.

```python
dict = {'first' : 'sunday', 'second' : 'monday', 'third' : 'tuesday'} 
for item in dict.items(): 
 print(item) 
dict['third'] = 'wednesday'
for item in dict.items(): 
 print(item) 
Output: 
 ('first', 'sunday') 
 ('second', 'monday') 
 ('third', 'tuesday') 
 ('first', 'sunday') 
 ('second', 'monday') 
 ('third', 'wednesday')
```

**Delete key-value pair from dictionary:**

We can delete a key-value pair from a dictionary using the del keyword followed
by the key value to be deleted enclosed in [].

**18. Sets in Python**

**Initializing Sets:**

Sets are initialized using curly braces {} or set() in python.

A python set is basically an unordered collection of unique values, i.e. it will
automatically remove duplicate values from the set.

```python
s = {1, 2, 3} 
print(s) 
s = set([1, 2, 3]) 
print(s) 
s = {1, 2, 3, 3, 2, 4, 5, 5} 
print(s) 
Output: 
{1, 2, 3} 
{1, 2, 3} 
{1, 2, 3, 4, 5}
```

**Inserting elements in set:**

We can insert a single element into a set using the add function of sets.

```python
s = {1, 2, 3, 3, 2, 4, 5, 5} 
print(s) 
# Insert single element
s.add(6) 
print(s) 
Output: 
{1, 2, 3, 4, 5} 
{1, 2, 3, 4, 5, 6}
```

To insert multiple elements into a set, we use the update function and pass a list of
elements to be inserted as parameters.

```python
s = {1, 2, 3, 3, 2, 4, 5, 5} 
# Insert multiple elements
s.update([6, 7, 8]) 
print(s) 
Output: 
{1, 2, 3, 4, 5, 6, 7, 8}
```

**Deleting elements from the set:**

We can delete elements from a set using either the remove() or the discard()
function.

```python
s = {1, 2, 3, 3, 2, 4, 5, 5} 
print(s) 
# Remove will raise an error if the element is not in the set
s.remove(4) 
print(s) 
# Discard doesn't raise any errors
s.discard(1) 
print(s) 
Output: 
{1, 2, 3, 4, 5} 
{1, 2, 3, 5} 
{2, 3, 5}
```

**Operators in sets:**

The below table shows the operators used for sets:

 |Operators | What it does |
 | :- | :- |
 | (Union) | Returns all the unique elements in both the sets.|
 |& (Intersection) | Returns all the elements common to both the sets.|
 |- (Difference) | Returns the elements that are unique to the first set|
 |^(Symmetric | Difference)|
 |Returns  |all the elements not common to both the sets.|

**Examples:**

```python
a = {1, 2, 3, 3, 2, 4, 5, 5} 
b = {4, 6, 7, 9, 3} 
# Performs the Intersection of 2 sets and prints them
print(a & b) 
# Performs the Union of 2 sets and prints them
print(a | b) 
# Performs the Difference of 2 sets and prints them
print(a - b) 
# Performs the Symmetric Difference of 2 sets and prints them
print(a ^ b) 
Output: 
{3, 4} 
{1, 2, 3, 4, 5, 6, 7, 9} 
{1, 2, 5} 
{1, 2, 5, 6, 7, 9}
```

**19. String Manipulation in Python**

- Escape Sequences:

Escape Sequences are used to print certain characters to the output stream which
carry special meaning to the language compiler.

**Examples:**

|Escape| Sequence Results in|
| :- | :- |    
| \t | Tab Space|
| \n |Newline|
| \\ |Backslash|
| \’ | Single Quote|

**Multiline Strings:**

Multiline Strings are used in python through triple quotes '''
Example:

```python
a = ''' Hello 
 World! 
 This is a 
 Multiline String.'''
 
print(a) 
Output: 
Hello 
World! 
This is a 
Multiline String.
```

- Strings Indexing:

Strings in Python are indexed the same way as a list of characters, based on 0-based
indexing. We can access elements of a string at some index by using the [] operators.

```python
a = "Python"
print(a[0], a[2], a[4]) 
print(a[-1], a[-3], a[-5]) 
Output: 
P t o 
n h y
```

- Strings Slicing:

Slicing is also done the same way as in lists.

```python
a = "Hello"
# Slices the string from 0 to 3 indexes
print(a[0:3]) 
# Slices the string from 3 to -1(same as 4) indexes
print(a[3:-1]) 
Output: 
Hel 
l
```

- Case Conversion Functions:

The upper() and lower() functions are used to convert a string of letters into
uppercase or lowercase respectively.

The isupper() and islower() functions are used to check if a string is in all uppercase or
lowercase respectively.

```python
a = "Hello"
print(a) 
# Converts string to uppercase
print(a.upper()) 
# Converts string to lowercase
print(a.lower()) 
# Checks if string is uppercase
print(a.isupper()) 
# Checks if string is lowercase
print(a.islower()) 
Output: 
Hello 
HELLO 
hello 
False
False
```

- join() and split() Functions:

join() function merges elements of a list with some delimiter string, and returns the
result as a string.

```python
list = ["One", "Two", "Three"] 
# join function
s = ','.join(list) 
print(s) 
Output: 
One,Two,Three
```

split() function splits the into tokens, based on some delimiters and returns the result
as a list.

```python
# split function
newList = s.split(',') 
print(newList) 
Output: 
['One', 'Two', 'Three']
```

- String Formatting:

String Formatting is done with the str.format() function.

```python
first = "first"
second = "second"
s = "Sunday is the {} day of the week, whereas Monday is the {} day of the week".format
print(s) 
Output: 
Sunday is the first day of the week, whereas Monday is the second day of the week
```

#### 20. Python RegEx

- Regex Matching

The re module in python allows us to perform regex matching operations.

```python
import re 
landline = re.compile(r'\d\d\d\d-\d\d\d\d') 
num = landline.search('LandLine Number is 2435-4153') 
print('Landline Number is: {}'.format(num.group())) 
Output: 
Landline Number is: 2435-4153
```

The above example landline number from the string and stores it appropriately in the
num variable using regex matching.

- Parenthesis Grouping

A group is a part of a regex pattern enclosed in parenthesis (). We can put matches
into different groups using the parenthesis (). We can access the groups using group()
function.

```python
import re 
landline = re.compile(r'(\d\d\d\d)-(\d\d\d\d)') 
num = landline.search('LandLine Number is 2435-4153') 
# This will print the first group, which is the entire regex enclosed in the brackets
print(num.group(0)) 
# This will print the second group, which is the nested regex enclosed in the 1st set o
print(num.group(1)) 
# This will print the third group, which is the nested regex enclosed in the 2nd set of
print(num.group(2)) 
Output: 
2435-4153
2435
4153
```

**Class**

Since Python is an object-oriented programming language almost every element of 
it is an object — with its methods and properties.

**Class** acts as a blueprint for creating different objects. Objects are an instance of a 
class, where the class is manifested in some program.

- How to Create a Class

Let’s create a class named TestClass, with one property named z:

```python
class TestClass: 
 z = 5
```

- How To Create an Object

As a next step, you can create an object using your class. Here’s how it’s done:

```python
p1 = TestClass() 
print(p1.x)
```

Further, you can assign different attributes and methods to your object. The 
example is below:

```python
class car(object): 
 “””docstring”””
 def __init__(self, color, doors, tires): 
 “””Constructor”””
 self.color = color 
 self.doors = doors 
 self.tires = tires 
 def brake(self): 
 “”” 
 Stop the car 
 “””
 return “Braking”
 def drive(self): 
 “”” 
 Drive the car 
 “””
 return “I’m driving!”
```